spring:
  application:
    name: service-registry

server:
  port: ${SERVER_PORT}

eureka:
  instance:
    hostname: service-registry
  client:
    fetch-registry: false
    register-with-eureka: false