.idea/
*.iml
*.iws
out/

.vscode/

.project
.classpath
.settings/



target/
build/
dist/

.mvn/wrapper/maven-wrapper.jar

*.log

.DS_Store
Thumbs.db

.env
.env.*
application-local.properties
application-dev.properties

node_modules/
