server:
  port: ${SERVER_PORT}

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: question-service
          uri: lb://QUESTION-SERVICE
          predicates:
            - Path=/question/**
        - id: quiz-service
          uri: lb://QUIZ-SERVICE
          predicates:
            - Path=/quiz/**

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI}
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}